.signUpContent {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://wallpapers.com/images/hd/vibrant-music-collage-art-azwc61p9wbw3gn9u.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    height: 100vh;
  }
  
  .signup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .signup h1 {
    margin-bottom: 1rem;
  }
  
  .signup form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
  
  .signup form input {
    padding: 0.5rem;
    border: 2px solid #0b0b0b;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    max-width: 500px;
    font-weight: 200;
    outline: none;

  }
  
  .signup form button {
    padding: 0.75rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #4a4ad7;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    max-width: 500px;
  }
  
  .signup form button:hover {
    background-color: #3737a8;
  }
  
  .signup p {
    margin-top: 1rem;
  }
  
  .signup a {
    color: #4a4ad7;
    text-decoration: none;
  }
  
  .signup a:hover {
    text-decoration: underline;
  }
  input{
    border-radius: 0.5rem;
    color: #000000;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    padding: 0.5rem;
    border: 2px solid rgb(74, 74, 215);
    background-color: transparent;
    outline: none;
  }